extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h1 Cài đặt chung

    +alert-error(5000)
    +alert-success(5000)

    form(
        action=`${prefixAdmin}/settings/general?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="websiteName") Tên website
            input(
                type="text"
                class="form-control"
                id="websiteName"
                name="websiteName"
                value= (settingGeneral ? settingGeneral.websiteName : "")
            )

        div(
            class="form-group"
            upload-image
        )    
            label(for="logo") Logo
            input(
                type="file"
                class="form-control-file"
                id="logo"
                name="logo"
                accept="image/*"
                upload-image-input
            )

            img(
                src= (settingGeneral ? settingGeneral.logo : "")
                class="image-preview"
                upload-image-preview
            )

        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value= (settingGeneral ? settingGeneral.phone : "")
            )

        div(class="form-group")
            label(for="email") Email
            input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                value= (settingGeneral ? settingGeneral.email : "")
            )

        div(class="form-group")
            label(for="address") Địa chỉ
            input(
                type="text"
                class="form-control"
                id="address"
                name="address"
                value= (settingGeneral ? settingGeneral.address : "")
            )
        
        div(class="form-group")
            label Bản đồ
            iframe(
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.070910191742!2d106.77992637462873!3d10.882211289273064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d89aad780e49%3A0x54542761d4c22175!2zS8O9IHTDumMgeMOhIEtodSBCIC0gxJDhuqFpIGjhu41jIFF14buRYyBnaWEgVFAuSENN!5e0!3m2!1svi!2s!4v1739021374596!5m2!1svi!2s"
                width="100%"
                height="400"
                frameborder="0"
                style="border:0; max-width: 100%;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            )

        div(class="form-group")
            label(for="copyright") Copyright
            input(
                type="text"
                class="form-control"
                id="copyright"
                name="copyright"
                value= (settingGeneral ? settingGeneral.copyright : "")
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhập
